In [ ]:
pip install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings('ignore')

# Q4 - Sunglasses Flipkart - Completed

In [3]:
driver = webdriver.Chrome(r'C:\Web Driver\chromedriver.exe')
time.sleep(2)

In [4]:
driver.get('https://www.flipkart.com/')

# Closing the login Page
close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

# enetering 'Sunglasses' in search product column
product_search = driver.find_element_by_class_name('_3704LK')
product_search.send_keys('Sunglasses')

# clicking on search button
search_button = driver.find_element_by_class_name('L0Z3Pu')
search_button.click()

In [5]:
# creating empty list for data to be entered
brand = []
product_description = []
price = []

In [6]:
#searching for brand and appending into the list
brand_search = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_search:
    brand.append(i.text)
    
#searching for description and appending it into list
desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in desc:
    product_description.append(i.text)

#searching for price and appending it into list
price_search = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price_search:
    price.append(i.text)

In [7]:
#next Page
next_page = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [8]:
# getting data from page 2
#searching for brand and appending into the list
brand_search = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_search:
    brand.append(i.text)
    
#searching for description and appending it into list
desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in desc:
    product_description.append(i.text)

#searching for price and appending it into list
price_search = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price_search:
    price.append(i.text)

In [9]:
#next Page page 3
next_page = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_page.click()

In [10]:
# getting data from page 3
#searching for brand and appending into the list
brand_search = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_search:
    brand.append(i.text)
    
#searching for description and appending it into list
desc = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in desc:
    product_description.append(i.text)

#searching for price and appending it into list
price_search = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price_search:
    price.append(i.text)

In [11]:
print(len(brand),len(product_description),len(price))

120 120 120

In [12]:
Sunglasses = pd.DataFrame({'Brand':brand[:100],'Description':product_description[:100],'Price':price[:100]})

Sunglasses.sample(25)

,Brand,Description,Price
55,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹399
76,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹575
85,Fastrack,UV Protection Wayfarer Sunglasses (54),₹699
63,Arnette,Mirrored Rectangular Sunglasses (58),"₹4,579"
30,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499
66,Fastrack,UV Protection Aviator Sunglasses (58),₹935
52,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379
5,PIRASO,UV Protection Rectangular Sunglasses (52),₹306
35,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹474
41,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹699
14,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299
33,Elligator,UV Protection Round Sunglasses (53),₹219
90,NuVew,UV Protection Sports Sunglasses (62),₹345
74,PIRASO,UV Protection Aviator Sunglasses (58),₹345
78,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹759
80,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399
99,Ray-Ban,Others Aviator Sunglasses (63),"₹6,289"
45,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹269
54,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹349
93,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399
13,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195
22,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259
84,GANSTA,UV Protection Aviator Sunglasses (57),₹314
68,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",₹499
6,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹575

# Q7 Myntra Shoes - Completed

In [13]:
driver.switch_to.new_window('tab')

In [14]:
driver.get(r'https://www.myntra.com/shoes')

In [15]:
black = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
black.click()

In [16]:
pricefilter =driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
pricefilter.click()

In [17]:
shoe_brand = []
shoe_desc = []
shoe_price = []

In [18]:
brand_search = driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand_search:
    shoe_brand.append(i.text)
    
#searching for description and appending it into list
desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')
for i in desc:
    shoe_desc.append(i.text)

#searching for price and appending it into list
price_search = driver.find_elements_by_xpath('//div[@class="product-price"][1]')
for i in price_search:
    shoe_price.append(i.text.split()[1:2])

In [19]:
#next Page
next_page = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
next_page.click()

In [20]:
brand_search = driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand_search:
    shoe_brand.append(i.text)
    
#searching for description and appending it into list
desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')
for i in desc:
    shoe_desc.append(i.text)

#searching for price and appending it into list
price_search = driver.find_elements_by_xpath('//div[@class="product-price"][1]')
for i in price_search:
        shoe_price.append(i.text.split()[1:2])

In [21]:
print(len(shoe_brand),len(shoe_desc),len(shoe_price))

100 100 100

In [22]:
shoes = pd.DataFrame({'Brand':shoe_brand,'Description':shoe_desc,'Price':shoe_price})

shoes.head(25)

             Brand                     Description       Price
0             Nike  Men ZOOM WINFLO8 Running Shoes      [8295]
1         Skechers        Men ENIGMA Running Shoes   [8074Rs.]
2             Nike  Men Zoom C Pro HC Tennis Shoes      [8895]
3             Nike  Women Pegasus 39 Running Shoes     [10495]
4             Nike      Women React Escape Running     [11495]
5             Puma               Men Running Shoes   [8499Rs.]
6             Nike  Women React MR 3 Running Shoes     [10495]
7             Nike    Women WINFLO 8 Running Shoes      [8295]
8             Puma      Men M Nitro Running Shoess     [12999]
9             Puma    Eternity Nitro Running Shoes  [10399Rs.]
10        Skechers               Men Walking Shoes   [7199Rs.]
11        Skechers  Men GRF-Hurtling Running Shoes      [6999]
12            Puma    Men Velocity Nitro 2 Running   [9349Rs.]
13    UNDER ARMOUR      Men Charged Breeze Running      [8999]
14          Reebok  Men Nanoflex TR Training Shoes      [7999]
15            Puma   Electrify Nitro Running Shoes      [9999]
16            Puma     Unisex KING Pro 21 Football   [7999Rs.]
17            Puma      Men Velocity Nitro Running  [10199Rs.]
18          Reebok      Men DailyFit Walking Shoes      [6999]
19        Skechers      Men PREMIER-VANTAG Running      [6999]
20           ASICS     Unisex Rote Japan Lyte FF 2      [8999]
21            Puma      Women Running Sports Shoes  [11999Rs.]
22            Vans      Men Colourblocked Sneakers     [10999]
23        Skechers   Women GRM 2.0 T Running Shoes      [6999]
24  Tommy Hilfiger            Men Leather Sneakers   [6799Rs.]

# Q8 - Amazon Laptop - Completed

In [23]:
# Opening the driver
driver = webdriver.Chrome(r'C:\Web Driver\chromedriver.exe')
time.sleep(2)


driver.get(r'https://www.amazon.in/')

In [24]:
# typing latop in search bar
input_key = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
input_key.send_keys('Laptop')

In [25]:
# Clicking on Search
find = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
find.click()

In [28]:
# Select Intel core 17
find = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[13]/span/a/div/label/i')
find.click()

In [29]:
Laptop = []
Rating = []
Price = []

for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    Laptop.append(i.text)
    
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    Price.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]'):
    Rating.append(i.get_attribute('aria-label'))    
    
Price = Price[:10]
Rating = Rating[:10]
Laptop = Laptop[:10]

In [30]:
#creating DataFrame
df = pd.DataFrame({'Laptop':Laptop,'Price':Price,'Rating':Rating})
df

,Laptop,Price,Rating
0,LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...,"86,490",4.3 out of 5 stars
1,Lenovo Yoga Slim 7 Carbon 11th Gen Intel Core ...,"1,08,490",4.1 out of 5 stars
2,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,"84,490",3.7 out of 5 stars
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...","57,490",4.3 out of 5 stars
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"86,990",4.2 out of 5 stars
5,Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...,"75,204",4.0 out of 5 stars
6,LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...,"88,490",4.5 out of 5 stars
7,LG Gram 14 Intel Evo 11th Gen i7 Thin & Light...,"84,490",4.3 out of 5 stars
8,ASUS Vivobook X515JA-EJ701WS Intel Core I7-106...,"57,290",3.8 out of 5 stars
9,HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...,"88,809",3.5 out of 5 stars

# Q9  - Ambition Box - Completed

In [31]:
# Opening the driver
driver = webdriver.Chrome(r'C:\Web Driver\chromedriver.exe')
time.sleep(2)


driver.get('https://www.ambitionbox.com/')

In [32]:
# Clicking on job tabs
find = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
find.click()

In [33]:
# typing Data Scientist in search bar
input_key = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
input_key.send_keys('Data Scientist')

In [34]:
# Clicking on search
find = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
find.click()

In [35]:
# Selecting location tab
find = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
find.click()

In [36]:
#Entering Noida in text box
input_key = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
input_key.send_keys('Noida')

In [37]:
#selecting Noida
find = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
find.click()

In [38]:
#entering Data into the list
company = []
Rating = []
days_ago = []

for i in driver.find_elements_by_xpath('//p[@class="company body-medium"]'):
    company.append(i.text)
    
for i in driver.find_elements_by_xpath('//span[@class="body-small"]'):
    Rating.append(i.text)

for i in driver.find_elements_by_xpath('//span[@class="body-small-l"][1]'):
    days_ago.append(i.text)

In [39]:
# creating DataFrame
df = pd.DataFrame({'Compnay':company,'Rating':Rating,'Posted':days_ago})
df

                                          Compnay Rating    Posted
0                   GENPACT India Private Limited    4.0   11d ago
1  Optum Global Solutions (India) Private Limited    4.2   18d ago
2                   GENPACT India Private Limited    4.0   17d ago
3                        Hcl Technologies Limited    3.9   21d ago
4                EXL Services.com ( I ) Pvt. Ltd.    3.9  1mon ago
5                                           Paytm    3.7   13d ago
6  Om Software Internet Solutions Private Limited    4.5   22d ago
7                                           Paytm    3.7  1mon ago
8        MOTHERSONSUMI INFOTECH & DESIGNS LIMITED    3.3   18d ago
9              Ashkom Media India Private Limited    3.5   17d ago

# Q10 Ambition Box - Salary - Completed

In [40]:
# Opening the driver
driver = webdriver.Chrome(r'C:\Web Driver\chromedriver.exe')
time.sleep(2)


driver.get('https://www.ambitionbox.com/')

In [41]:
# Clicking on Salary tabs
find = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
find.click()

In [42]:
# typing Data Scientist in search bar
input_key = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
input_key.send_keys('Data Scientist')

In [43]:
# Clicking on search
find = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
find.click()

In [44]:
#entering Data into the list
company = []
records = []
experience = []
min_sal = []
max_sal = []
avg_sal = []


for i in driver.find_elements_by_xpath('//div[@class="name"]/a'):
    company.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="name"]/span'):
    records.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]'):
    z = ' '.join(i.text.split()[3:])
    experience.append(z)
    
for i in driver.find_elements_by_xpath('//div[@class="salary-values"]/div[1]'):
    min_sal.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="salary-values"]/div[2]'):
    max_sal.append(i.text)

for i in driver.find_elements_by_xpath('//p[@class="averageCtc"]'):
    avg_sal.append(i.text)

In [45]:
df = pd.DataFrame({'Company':company,'Experience':experience,
                   'Min Salary':min_sal,'Max Salary':max_sal,'Average Salary':avg_sal,'Records':records})
df

,Company,Experience,Min Salary,Max Salary,Average Salary,Records
0,Walmart,3 yrs exp,₹ 25.0L,₹ 36.0L,₹ 30.2L,based on 12 salaries
1,Ab Inbev,3-4 yrs exp,₹ 15.0L,₹ 25.5L,₹ 20.6L,based on 33 salaries
2,American Express,4 yrs exp,₹ 14.1L,₹ 25.0L,₹ 19.9L,based on 10 salaries
3,ZS,2 yrs exp,₹ 11.0L,₹ 22.0L,₹ 16.7L,based on 15 salaries
4,Optum,3-4 yrs exp,₹ 11.0L,₹ 22.6L,₹ 16.1L,based on 33 salaries
5,Reliance Jio,3-4 yrs exp,₹ 5.6L,₹ 26.2L,₹ 15.7L,based on 21 salaries
6,Fractal Analytics,2-4 yrs exp,₹ 10.0L,₹ 22.0L,₹ 15.4L,based on 83 salaries
7,Tiger Analytics,2-4 yrs exp,₹ 9.0L,₹ 20.0L,₹ 14.8L,based on 50 salaries
8,UnitedHealth,2-4 yrs exp,₹ 8.3L,₹ 21.1L,₹ 14.0L,based on 57 salaries
9,EXL Service,4 yrs exp,₹ 8.9L,₹ 21.0L,₹ 13.3L,based on 10 salaries

# Q5 - Flipkart - iphone 11 - Completed

I have logged in the ticket to ask how to switch tab in web driver - but one of your excecutive told me to start from the review page direcly, so I will be skipping the initial steps  (Ticket no 9842)

In [46]:
# Opening the driver
driver = webdriver.Chrome(r'C:\Web Driver\chromedriver.exe')
time.sleep(2)


driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [47]:
#entering Data into the list
rating = []
review_summary = []
full_review = []


for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [48]:
# clclicking on next button - page 2
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
find.click()

In [49]:
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
find.click()

In [50]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

20 20 20

In [51]:
# clclicking on next button - page 3
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [52]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

30 30 30

In [54]:
# clclicking on next button - page 4
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [55]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

40 40 40

In [56]:
# clclicking on next button - page 5
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [57]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

50 50 50

In [58]:
# clclicking on next button - page 6
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [59]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

60 60 60

In [61]:
# clclicking on next button - page 7
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [62]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

70 70 70

In [63]:
# clclicking on next button - page 8
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [64]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

80 80 80

In [66]:
# clclicking on next button - page 9
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [67]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

90 90 90

In [68]:
# clclicking on next button - page 10
find = driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
find.click()

In [69]:
for i in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div'):
    rating.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    review_summary.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    full_review.append(i.text)
    
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [70]:
iphone_rating = pd.DataFrame({'Rating':rating,'Summary':review_summary,'Reviews':full_review})

iphone_rating.sample(30)

,Rating,Summary,Reviews
21,5,Worth every penny,It’s been almost a month since I have been usi...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
45,1,Very poor,Reviewing again after 5 months. At the beginni...
62,5,Brilliant,Excellent camera and display touching very nic...
27,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
49,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
55,5,Wonderful,Super and marvellous phone look very cute and ...
26,5,Classy product,We are on apple ecosystem for almost eight yea...
50,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
58,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
23,4,Nice product,Awesome Phone. Slightly high price but worth. ...
95,5,Excellent,It was amazing experience for me. Honestly i a...
84,1,Worthless,Phone is awesome no doubt. But Camera & Displa...
34,5,Simply awesome,It's very high performances devise i am like t...
74,5,Brilliant,Amazing phone and on great deal I received wit...
13,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
30,5,Great product,Again back to apple iphone after a gap of 2-3 ...
39,5,Excellent,Amazing camera and feel super machine I am not...
44,4,Good quality product,it is very good at performance. Camera is best...
1,5,Best in the market!,Great iPhone very snappy experience as apple k...
78,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
57,5,Awesome,Very excited to have this phone. This phone ha...
60,5,Terrific purchase,Its Very awesome product working and good came...
93,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
68,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
71,5,Must buy!,Dear friends... I want to share my experience ...
69,5,Excellent,Its a fabulous mobile look awesome performance...
29,5,Must buy!,Best Apple iPhone that i have bought at a very...
22,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
51,5,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...

# Q6 Flipkart - Sneakers - Completed

In [79]:
# Opening the driver
driver = webdriver.Chrome(r'C:\Web Driver\chromedriver.exe')
time.sleep(2)


driver.get('https://www.flipkart.com/')

In [80]:
# closing login page
find = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
find.click()

In [81]:
# typing sneakers in search bar
input_key = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
input_key.send_keys('Sneakers')

In [82]:
# clicking on search
find = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
find.click()

In [83]:
#entering Data into the list
Brand = []
desc = []
price = []
disc = []

for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    Brand.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
    desc.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div[1]/div[1]'):
    price.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div[1]/div[3]'):
    disc.append(i.text)

In [84]:
#clickig on next page
find = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
find.click()

In [85]:
#entering Page 2 Data

for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    Brand.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
    desc.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div[1]/div[1]'):
    price.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div[1]/div[3]'):
    disc.append(i.text)

In [86]:
#clickig on next page - 3
find = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
find.click()

In [87]:
#entering Page 3 Data

for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    Brand.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
    desc.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div[1]/div[1]'):
    price.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div[1]/div[3]'):
    disc.append(i.text)

In [88]:
print(len(Brand),len(desc),len(price),len(disc))

120 120 120 118

In [89]:
df = pd.DataFrame({'Brand':Brand[:100],'Description':desc[:100],'Price':price[:100],'Discount':disc[:100]})

In [90]:
df

,Brand,Description,Price,Discount
0,Hot & Knot,Mens Casual Stylish Sports Shoes Sneakers For Men,₹589,41% off
1,T-ROCK,Stylish White Casual Walking Sneakers Shoes Fo...,₹549,45% off
2,Magnolia,Sneakers For Men,₹374,62% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹269,79% off
4,URBANBOX,Sneakers Sneakers For Men,₹198,80% off
...,...,...,...,...
95,PUMA,Rebound Joy low FP Sneakers For Men,"₹4,999",15% off
96,Extoes,Sneakers For Men,₹218,70% off
97,SPARX,SM-671 Sneakers For Men,₹924,15% off
98,NAUTICA,Sneakers For Men,"₹1,589",64% off
99,SPARX,SM-641 Sneakers For Men,"₹1,231",52% off

# For Q1 Q2 and Q3 I am getting error whenever I am trying to search for any job in Naukri.com I have logged a ticket and they asked me to skip this question so I am skipping this  question

In [6]:
# Opening the driver
driver = webdriver.Chrome(r'C:\Web Driver\chromedriver.exe')
time.sleep(2)


driver.get('https://www.naukri.com/')

In [7]:
# typing Data Analyst in search bar
input_key = driver.find_element_by_xpath("/html/body/div/div[2]/div[4]/div/div/div[1]/div/div/div/input")
input_key.send_keys('Data Analyst')

In [8]:
# typing Bangalore in search bar
input_key = driver.find_element_by_xpath("/html/body/div/div[2]/div[4]/div/div/div[5]/div/div/div/input")
input_key.send_keys('Bangalore')

In [9]:
# clicking on search option
search_button=driver.find_element_by_class_name("qsbSubmit")
search_button.click()